.members {

  ion-item {
    border-bottom: 1px solid color($colors, decent);

    .item-inner {
      border: 0;
    }

    &:last-child {
      border-bottom: 1px solid color($colors, decent);
    }
  }

  ion-avatar {
    padding: 10px 0px;
    min-width: 6rem;
    min-height: 6rem;

    img {
      min-width: 6rem;
      min-height: 6rem;

      border-radius: 3rem;
    }
  }
}
